/ap-northeast-1.png
/ap-northeast-2.png
/ap-south-1.png
/ap-southeast-1.png
/ap-southeast-2.png
/aws.png
/ca.png
/cn.png
/eu-central-1.png
/eu-west-1.png
/eu-west-2.png
/eu-west-3.png
/sa-east-1.png
/us.png
